.pagination {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 1rem auto;
    font-size: 1.3rem;
    color: #9eabb3;
    text-align: center;
}

.pagination a {
    color: #9eabb3;
    transition: all .2s ease;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
    min-width: 100px;
}

nav ul li a:visited{
    color:  #fff;
}

.newer-posts, .older-posts {
    position: absolute;
    display: inline-block;
    padding: 0 15px;
    border: #ddd 1px dashed;
    text-decoration: none;
    transition: border .3s ease;
}

.newer-posts {
    right: 0;
}

.older-posts {
    left: 0;
}

.site-footer {
    padding-bottom: 20px !important;
}

@media (min-width: 900px) {
    .ctsingle .post-feed {
        padding-top: 0;    
    } 
    .ctsingle .site-nav {
        position: relative;
        top: 70px;
    }    
}

@media (min-width: 795px) {  
    .ctsingle .post-feed p {
        font-size: 1.8rem;
        line-height: 1.55em;
    }
}

@media (max-width: 650px) {
    .hide {
        display: none !important;
    }   
    .copyright {
        text-align: center;
    }
}

.post-full-content pre code {
    color: #e5eff5;
}    

#sideNav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000; 
  top: 0; 
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; 
}

#sideNav ul{
    list-style: none;
}

#sideNav ul li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sideNav ul li a:hover{
    color: #f1f1f1;
}

#sideNav ul li .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 80px;
}

.side-nav-btn{
    display:none;
    padding-left: 10px;
    cursor: pointer;
}

#content{
    transition: margin-left .5s;
}

@media screen and (max-height: 450px){
    #sideNav {padding-top: 15px;}
    #sideNav a {font-size: 18px;}
}

@media (max-width:700px){
    .side-nav-btn{
        -ms-flex-align:center;
        align-items:center;
        overflow-x:auto;
        -webkit-overflow-scrolling:touch;
        letter-spacing:.4px;
        white-space:nowrap;
        -ms-overflow-scrolling:touch;
        display:-ms-flexbox;
        display:flex;
        overflow-y:hidden;
        font-size: 20px;
        color:white;
    }
}
